[Desktop Entry]
Version=1.0
Type=Application
Name=Network manager
Comment=Network manager
Exec=nmtui
Icon=network-wireless
Terminal=true
Categories=Network;System;
