[Desktop Entry]
Version=1.0
Type=Application
Name=NetworkManager TUI
Comment=NetworkManager TUI
Exec=nmtui
Icon=network-wireless
Terminal=true
Categories=Network;System;
Keywords=Network;Manager;NetworkManager;TUI;Wifi;Ethernet
