@import "catppuccin-mocha"

* {
  background:                  @base;
  foreground:                  @text;
  lightbg:                     @mantle;
  lightfg:                     @text;
  separatorcolor:              @surface0;

  normal-background:           @background;
  normal-foreground:           @foreground;
  urgent-background:           @background;
  urgent-foreground:           @red;
  active-background:           @background;
  active-foreground:           @blue;

  selected-normal-background:  @lightfg;
  selected-normal-foreground:  @lightbg;
  selected-urgent-background:  @red;
  selected-urgent-foreground:  @background;
  selected-active-background:  @blue;
  selected-active-foreground:  @background;

  alternate-normal-background: @lightbg;
  alternate-normal-foreground: @foreground;
  alternate-urgent-background: @lightbg;
  alternate-urgent-foreground: @red;
  alternate-active-background: @lightbg;
  alternate-active-foreground: @blue;

  background-color:            transparent;
  border-color:                @foreground;
  spacing:                     2;
}

@import "base"
