@import "catppuccin-default"

configuration {
    show-icons:     true;
    icon-theme:     "Papirus";
    hover-select:   true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

window {
}

inputbar {
    children: [ "textbox-prompt-colon", "entry" ];
    prompt:   " Apps";
}

entry {
    placeholder:       "Search applications...";
    placeholder-color: @overlay0;
}

textbox-prompt-colon {
    str: " ";
}

listview {
    columns:   1;
    fixed-height: true;
    lines:     10;
    scrollbar: true;
    spacing:   0px;
}

element {
    padding:       6px 8px;
    orientation:   horizontal;
}

element-icon {
    size:  2em;
    cursor: inherit;
}

element-text {
    expand:     true;
    cursor:     inherit;
    vertical-align: 0.5;
}
