@import "catppuccin-default"

configuration {
    show-icons: true;
}

inputbar {
    children: [ "textbox-prompt-colon", "entry" ];
    prompt:   " Power";
}

entry {
    placeholder:       "Search...";
    placeholder-color: @overlay0;
}

textbox-prompt-colon {
    str: " ";
}

listview {
    scrollbar: false;
    lines:     5;
}

element {
    padding: 4px 8px;
}

element-icon {
    size: 1.2em;
    font:  "Iosevka Nerd Font 12";
}
