@import "catppuccin-default"

configuration {
    show-icons: false;
}

inputbar {
    children: [ "textbox-prompt-colon", "entry" ];
    prompt:   " Power";
}

entry {
    placeholder:       "Search...";
    placeholder-color: @overlay0;
}

textbox-prompt-colon {
    str: " ";
}

listview {
    scrollbar: false;
    lines:     5;
}
