@import "catppuccin-default"

configuration {
    show-icons: true;
}

inputbar {
    enabled: false;
}

listview {
    scrollbar: false;
    lines:     5;
}

element {
    padding: 10px 0px;
}

element-icon {
    size: 1.2em;
    font:  "Iosevka Nerd Font 12";
}
